# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*

# Environment variables
.env

# Editor directories and files
.vscode/
.idea/
*.swp

# Build output
dist/
build/
out/

# MacOS
.DS_Store

# React/Vite
*.cache/
*.env.local
public/hot
storage/
